/* ----------Default styles --------*/
:root {
	--brand-color: #4d5ae5;
	--main-text: #2e2f42;
	--second-text: #434455;
	--bg-color: #ffff;
	--bg-button: #f4f4fd;
	--border-button: #e7e9fc;
	--hover-ocean: #404bbf;
}

body {
	font-family: Roboto, sans-serif;
	color: var(--main-text);
	background-color: var(--bg-color);
	font-weight: 500;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
button {
	cursor: pointer;
}

.title {
	color: var(--main-text);
	text-align: center;
	font-size: 36px;
	font-weight: 700;
	line-height: 111.111%;
	letter-spacing: 0.72px;
	text-transform: capitalize;
}
.subtitle {
	color: var(--main-text);
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 0.4px;
}
.text {
	color: var(--second-text);
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
}

/*! --------Main Styles------ */
/* -------Header---------- */

.header {
}

.header-nav {
}
.header-logo {
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 116.667%;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}
.header-logo span {
	color: var(--brand-color);
}
.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
	line-height: 150%;
	letter-spacing: 0.32px;
}
.header-nav-link:hover {
	color: var(--hover-ocean);
}

.header-address {
}
.header-address-list {
}
.header-address-item {
}

.header-address-link {
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--second-text);
}

.header-address-link:hover,
.header-address-link:active {
	color: var(--hover-ocean);
}

/*! -------Main------------ */

.solutions h1 {
	color: var(--bg-color);
	text-align: center;
	font-size: 56px;
	font-weight: 700;
	line-height: 107.143%;
	letter-spacing: 1.12px;
}
.solution-btn {
	background-color: var(--brand-color);
	color: var(--bg-color);
	line-height: 150%;
	letter-spacing: 0.64px;
	border: none;
}

/* -------Advantages-------------- */
.advantages {
}

.advantages-list {
}
.advantages-item {
}
.advantages-subtile {
}

.advantages-text {
}

/* ------About--------- */

.about {
}

.about-title {
}

.about-list {
}
.about-item {
}

/* !--------PAGE------------- */

.page {
}
.page-filter {
}

/* ---------Filter----------- */
.filter-list {
}
.filter-item {
}
.filter-link {
}

.filter-button {
	color: var(--brand-color);
	background-color: var(--bg-button);
	border: 1px solid var(--border-button);
	text-align: center;
	line-height: 150%;
	letter-spacing: 0.64px;
}
.filter-button:hover {
	background-color: var(--hover-ocean);
	color: var(--bg-color);
	border: none;
}

/* --------PageRows----------- */

/* -------FOOTER------------ */
.footer {
	background-color: var(--main-text);
}
.footer-logo {
	color: var(--bg-color);
	color: var(--bg-button);
	font-family: Raleway;
	font-size: 18px;
	font-weight: 800;
	line-height: 116.667%;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}

.footer-logo span {
	color: var(--brand-color);
}
.footer-text {
	color: var(--bg-color);
}
