/* ----------Default styles --------*/
:root {
	--brand-color: #4D5AE5;
	--main-text: #2E2F42;
	--second-text: #434455;
	--bg-color: #ffff;
	--bg-button: #F4F4FD;
	--border-button: #E7E9FC;
	--hover-ocean: #404BBF;

}

body {
	font-family: Roboto, sans-serif;
	color: var(--main-text);
	background-color: var(--bg-color);
	font-weight: 500;
	font-size: 16px;
}

a {
	text-decoration: none;
	color: inherit;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

button {
	cursor: pointer;
}

/* --------Main Styles------ */
/* -------Header---------- */

.header {}

.header-nav {}


.header-logo {
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 800;
	line-height: 116.667%;
	letter-spacing: 0.54px;
	text-transform: uppercase;
}

.header-logo span {
	color: var(--brand-color);
}


.header-nav-list {}

.header-nav-item {}

.header-nav-link {
	line-height: 150%;
	letter-spacing: 0.32px;
}

.header-nav-link:hover {
	color: var(--hover-ocean);
}


.header-address {}

.header-address-list {}

.header-address-item {}

.header-address-link {
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.32px;
	color: var(--second-text);
}

.header-address-link:hover,
.header-address-link:active {
	color: var(--hover-ocean);
}

/* ------Page------------- */
.page {}

.page-filter {}

/* ---------Filter----------- */
.filter-list {}

.filter-item {}

.filter-link {}

.filter-button {
	color: var(--brand-color);
	background-color: var(--bg-button);
	border: 1px solid var(--border-button);
	text-align: center;
	line-height: 150%;
	letter-spacing: 0.64px;
}

.filter-button:hover {
	background-color: var(--hover-ocean);
	color: var(--bg-color);
	border: none
}